
html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

audio {
    display: none;
}

.flex-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: center;
    align-items: stretch;
}

.flex-container-1 > * {
    -webkit-flex: 1 100%;
    flex: 1 100%;
}
.flex-container-2 > * {
    -webkit-flex: 1 25%;
    flex: 1 25%;
}


.flex-container-3 {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.record-button {
    -webkit-flex: 1 100%;
    flex: 1 100%;
    min-height: 25%;
}

.play-button {
    -webkit-flex: 1 20%;
    flex: 1 20%;
}
#drag-el {background-color: black; height: 40px;}
.active {background-color: red !important;}
#demo {visibility: hidden; max-height: 100vh;}
.panel-101 {background: green; max-height: 100%}
.panel-201 {background: orange; max-height: 100%}
.panel-202 {background: pink; max-height: 100%}
.panel-203 {background: yellow; max-height: 100%}
.panel-204 {background: skyblue; max-height: 100%}
.play-button {background: purple; border: solid black;}
.record-button {background: cyan;}